{% extends "layout.html" %}
{% block title %} Investor Map {% endblock %}
{% block content %}
    <div id="content-box">
      <div id="graph-container">
        <div id="controls">
          <div class="item" style="border-bottom-right-radius: 10px; border-top-left-radius: 10px">
            <kbd>shift</kbd> + <kbd style="margin-right:5px">l</kbd> Lasso
        </div>
      </div>
    </div>
    <!-- SIGMA IMPORTS -->
    <script src={{ url_for('static', filename='plugins/linkurious/src/sigma.core.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/conrad.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/utils/sigma.utils.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/utils/sigma.polyfills.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/sigma.settings.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/classes/sigma.classes.dispatcher.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/classes/sigma.classes.configurable.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/classes/sigma.classes.graph.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/classes/sigma.classes.camera.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/classes/sigma.classes.quad.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/captors/sigma.captors.mouse.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/captors/sigma.captors.touch.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/sigma.renderers.canvas.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/sigma.renderers.webgl.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/sigma.renderers.svg.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/sigma.renderers.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/webgl/sigma.webgl.nodes.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/webgl/sigma.webgl.nodes.fast.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/webgl/sigma.webgl.edges.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/webgl/sigma.webgl.edges.fast.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/webgl/sigma.webgl.edges.arrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.labels.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.hovers.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.nodes.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edges.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edges.curve.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edges.arrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.curve.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/canvas/sigma.canvas.extremities.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.utils.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.nodes.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.edges.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.edges.curve.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.edges.curvedArrow.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.labels.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/renderers/svg/sigma.svg.hovers.def.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/middlewares/sigma.middlewares.rescale.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/middlewares/sigma.middlewares.copy.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/misc/sigma.misc.animation.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/misc/sigma.misc.bindEvents.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/misc/sigma.misc.bindDOMEvents.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/src/misc/sigma.misc.drawHovers.js')}}></script>
    <!-- SIGMA CYPHER -->
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.parsers.json/sigma.parsers.json.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.parsers.cypher/sigma.parsers.cypher.js')}}></script>
    <!-- DRAGGABLE -->
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js')}}></script>
    <!-- ACTIVE STATE -->
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.activeState/sigma.plugins.activeState.js')}}></script>
    <!-- FEATURE PLUGINS -->
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.renderers.halo/settings.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.renderers.halo/sigma.renderers.halo.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.select/sigma.plugins.select.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.helpers.graph/sigma.helpers.graph.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.keyboard/sigma.plugins.keyboard.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.lasso/sigma.plugins.lasso.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.tooltips/sigma.plugins.tooltips.js')}}></script>
    <script src={{ url_for('static', filename='mustache.min.js')}}></script>
    <!-- force layout -->
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.plugins.animate/sigma.plugins.animate.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.layouts.forceAtlas2/worker.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.layouts.forceAtlas2/supervisor.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.layouts.forceLink/worker.js')}}></script>
    <script src={{ url_for('static', filename='plugins/linkurious/plugins/sigma.layouts.forceLink/supervisor.js')}}></script>
    <script script type="application/javascript">
        //set renderer to canvas - WebGL not supported
        sigma.renderers.def = sigma.renderers.canvas;

        //graph
        var g;
        
        /* sigma */
        var s = new sigma({
          graph: g,
          container: 'graph-container',
          settings: {
            edgeLabelThreshold: 5,
            minEdgeSize: 10,
            enableEdgeHovering: false,
            nodeActiveBorderSize: 3,
            nodeActiveOuterBorderSize: 1,
            defaultNodeActiveBorderColor: '#fff',
            defaultNodeActiveOuterBorderColor: 'rgb(236, 81, 72)',
            nodeHaloColor: 'rgba(255, 160, 160, 0.2)',
            nodeHaloSize: 20
          }
        });

        //graph customization
        function customizeG(s){
          s.graph.nodes().forEach(function(n, i, a) {
            n.x = Math.cos(Math.PI * 10 * i / a.length)*10;
            n.y = Math.sin(Math.PI * 10 * i / a.length)*10;
            n.label = n.neo4j_data.name;
            if(n.neo4j_labels[0] == 'City'){
               n.color = '#4DC4E4';
               n.size = 20.0
            }
            else if(n.neo4j_labels[0] == 'Category'){
              n.color = '#FF9300';
              n.size = 20.0}
            else{
              n.size = 15.0
            }
           });
           s.graph.edges().forEach(function (e){
             e.style='curve';
           });
           var fa = sigma.layouts.configForceLink(s, {
                linLogMode: false, 
                adjustSizes: true,
                worker: true,
                autoStop: true,
                background: true,
                scaleRatio: 10,
                gravity: 3,
                easing: 'cubicInOut',
                nodeSiblingsScale: 5,
                barnesHutOptimize: true,
          });
          sigma.layouts.startForceLink();
          var cam = s.camera;
          sigma.misc.animation.camera(cam, { 
              ratio: 1.9
          });
          s.refresh();
        }
         
        //load neo4j data and customize sigma
        sigma.neo4j.cypher(
            { url: 'http://localhost:7474', user: 'neo4j', password: 'PoIsNot8080' },
            'MATCH (n) OPTIONAL MATCH (n)-[r]->(m) RETURN n,r,m LIMIT 1000',
            s,
            customizeG,
            function() {     
              s.refresh();   
            },
            { container: 'graph-container' }
        );
       

      //active state
      var activeState = sigma.plugins.activeState(s);
      //keyboard
      var keyboard = sigma.plugins.keyboard(s, s.renderers[0]);
      // select 
      var select = sigma.plugins.select(s, activeState);
      select.bindKeyboard(keyboard);
      //dragging
      var dragListener = sigma.plugins.dragNodes(s, s.renderers[0], activeState);
      //lasso tool
      var lasso = new sigma.plugins.lasso(s, s.renderers[0], {
        'strokeStyle': 'rgb(236, 101, 72)',
        'lineWidth': 1,
        'fillWhileDrawing': true,
        'fillStyle': 'rgba(200, 100, 100, 0.2)',
        'cursor': 'crosshair'
      });

      select.bindLasso(lasso);

      // halo on active nodes:
      function renderHalo() {
        s.renderers[0].halo({
          nodes: activeState.nodes()
        });
      }

      s.renderers[0].bind('render', function(e) {
        renderHalo();
      });

      //keys to activate lasso
      //shift+l
      keyboard.bind('16+76', function() {
          if (lasso.isActive) {
            lasso.deactivate();
          } else {
            lasso.activate();
          }
      });


      // selectedNodes event
      lasso.bind('selectedNodes', function (event) {
        setTimeout(function() {
          lasso.deactivate();
          s.refresh({ skipIdexation: true });
        }, 0);
       
      });

      //deactivate selection when clicking on stage
      s.bind('clickStage doubleClickStage rightClickStage', function(e) {
         activeState.dropNodes();
         renderHalo();
      });

      

      //tooltips
      var toolTip = sigma.plugins.tooltips(s, s.renderers[0], {
        node: [{
          show: 'clickNode',
          position: 'top',
          template:
          {% raw %}
          ''+
          '<div class="tooltip_g">' +
          '  <div class="tooltip_header">{{label}}</div><div class="close_btn" onclick="close_tooltip()">X</div>' +
          '  <div class="tooltip_body">' +
          '    <table>' +
          '      {{#neo4j_arr}}<tr class="item">{{#.}}<td>{{.}}</td>{{/.}}{{/neo4j_arr}}'+
          '    </table>' +
          '  </div>' +
          '</div><div class="arrow-down"></div>',
          {%endraw%}
          renderer: function(node, template) {
              // drop halos
              activeState.dropNodes();
              renderHalo();
              //node properties to array
              node.neo4j_arr=[];
              for (var i in node.neo4j_data){
                if(i!="name"){
                  node.neo4j_arr.push([i,node.neo4j_data[i]]);
                }
              } 
              //return html
              return Mustache.render(template, node);
          }
        }],
      });

      //close tooltip
      function close_tooltip(){
        toolTip.close();
      }
    </script>
{% endblock %}